<div class="home">
  <section class="nav">
    <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
  </section>
  <header>
    <h1>Your Task</h1>
  </header>
  <div class="wrapper">
    <span>Task name</span>
    <input class="label" type="text" [(ngModel)]="task.label" />
    <span>Task date</span>
    <input class="date" type="date" [(ngModel)]="task.date" />
    <button class="save" (click)="onSave(task)">Save</button>
    <!-- <br />
    <div class="json">{{ task | json }}</div> -->
  </div>
</div>
